{% extends 'base.html' %}

{% block title %}
    Rate details
{% endblock title %}

{% block content %}

    <br>
    <h1>Rate details</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Created</th>
            <th>Currency</th>
            <th>Buy</th>
            <th>Sale</th>
            <th>Source</th>
        </tr>
        <tr>
            <td>{{ rate.id }}</td>
            <td>{{ rate.created }}</td>
            <td>{{ rate.get_currency_display }}</td>
            <td>{{ rate.buy }}</td>
            <td>{{ rate.sale }}</td>
            <td>{{ rate.source }}</td>
        </tr>
    </table>

    <a href="{% url 'currency:rate-list' %}">Back to all rates</a><br><br>

{% endblock content %}