{% extends 'base.html' %}

{% block title %}
    Sources
{% endblock title %}

{% block content %}

    <h1>Sources Chart</h1>

    <a href="/source/create">Create source</a><br><br>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>URL</th>
            <th>Phone number</th>
            <th>Email</th>
        </tr>
        {% for source in sources %}
        <tr>
            <td>{{ source.id }}</td>
            <td>{{ source.name }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.phone_number }}</td>
            <td>{{ source.email }}</td>
            <td>
                <a href="/source/update/{{ source.id }}/">Update</a><br>
                <a href="/source/delete/{{ source.id }}/">Delete</a><br>
                <a href="/source/details/{{ source.id }}/">Details</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}