{% extends 'base.html' %}

{% block title %}
    Source details
{% endblock title %}

{% block content %}

   <h1>Source Details</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>URL</th>
        </tr>
        <tr>
            <td>{{ source.id }}</td>
            <td>{{ source.name }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.phone_number }}</td>
            <td>{{ source.email }}</td>
        </tr>
    </table>

    <hr>
    <a href="/sources/list/">Back to all sources</a><br><br>

{% endblock content %}